<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="5">
	<!-- <listeners> <listener class-name="utilities.RetryListener"/> </listeners> -->
	<test name="Test1">
		<classes>
			<class name="runners.TestNGTestRunner">
			</class>
		</classes>
	</test>
</suite>
